{{ define "title" }}Unsupported Image File{{ end }}
{{ define "head" }}{{ end }}
{{ define "content" }}
<section>
<pre class="text-center">
The file uploaded is not of a supported type.

Supported Image files are:
JPEG / JPG / GIF / PNG

</pre>
</section>
{{ end }}
