{{ define "title" }}New Image{{ end }}
{{ define "head" }}{{ end }}
{{ define "content" }}
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="pl-5 pr-5">
          <form method="POST" action="/dashboard/images/new/post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="UploadFile">What file to upload</label>
              <input class="form-control" id="UploadFile" type="file" name="UploadFile" accept="image/*" required>
            </div>
            <div class="form-group">
              <label for="ImageName">Image Name</label>
              <input class="form-control" id="ImageName" type="text" name="ImageName" placeholder="Image Name" rows="1" cols="150" maxlength="250" required>
            </div>
            <div class="form-group">
              <label for="Description">Image Description</label>
              <input class="form-control" id="Description" type="text" name="Description" placeholder="Image Description" rows="1" cols="150" maxlength="500">
            </div>
            <div class="form-group">
              <label for="Notes">Image Notes</label>
              <input class="form-control" id="Notes" type="text" name="Notes" placeholder="Image Notes" rows="1" cols="150" maxlength="250">
            </div>
            {{ .csrfField }}
            <button type="submit" class="btn btn-primary" value="Upload">Upload</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
