{{ define "title" }}Tweets{{ end }}
{{ define "head" }}{{ end }}
{{ define "content" }}
<section>
  <div class="container-fluid px-5">
    <div class="row">
      <div class="col">
      {{ if eq $.DisplayPagination 1 }}
        <nav>
          <ul class="pagination justify-content-center">
            <li class="page-item"><a href="/dashboard/tweets?page=1" class="page-link">&lt;&lt;</a></li>
            <li class="page-item"><a href="/dashboard/tweets?page={{.PagePre}}" class="page-link">&lt;</a></li>
            <li class="page-item"><a href="/dashboard/tweets?page={{.Page}}" class="page-link">{{.Page}}</a></li>
            <li class="page-item"><a href="/dashboard/tweets?page={{.PageNext}}" class="page-link">&gt;</a></li>
            <li class="page-item"><a href="/dashboard/tweets?page={{.PageLast}}" class="page-link">&gt;&gt;</a></li>
          </ul>
        </nav>
      {{ end }}
      </div>
    </div>

<div class="container-fluid py-5">
  <div class="row d-none d-md-flex">
    <div class="col-12 col-md border text-center">
      Time
    </div>
    <div class="col-12 col-md-6 border text-center">
      Message
    </div>
    <div class="col-12 col-md border text-center">
      Media
    </div>
    <div class="col-6 col-md border text-center">
      Status
    </div>
  </div>

{{ range .Tweets}}
  <div class="row" id="Tweet{{.TweetID}}">
    <div class="col-12 col-md border py-2">
     {{.Time}}
    </div>
    <div class="col-12 col-md-6 border text-break py-2" style="white-space:pre-wrap;">{{ .Message }}</div>
    <div class="col-12 col-md border text-center py-2">
      {{ if ne .MediaGUID "0" }}
      {{ if ne .ImageID "0" }}
     <a href="/dashboard/images/edit?ID={{.ImageID}}"><img class="img-fluid" src="/dashboard/media/view/thumbs/{{ .MediaGUID }}"></a>
      {{ end }}
      {{ if ne .VideoID "0" }}
     <a href="/dashboard/videos/edit?ID={{.VideoID}}"><img class="img-fluid" src="/dashboard/media/view/thumbs/{{ .MediaGUID }}"></a>
      {{ end }}
      {{ end }}
    </div>

    {{$viewStatus := or $.AccessReviewTweet $.AccessPublishTweet $.AccessFlagTweet  $.AccessDeleteTweet}}

    {{ if ne $viewStatus 0}}
    <div class="col-12 col-md border text-center py-2">
     <div class="btn-group">
      <a class="btn btn-primary" href="/dashboard/tweets/status?ID={{.TweetID}}">{{.Status}}</a>
      <div class="btn-group">
       <button class="btn btn-primary dropdown-toggle-split dropdown-toggle" data-toggle="dropdown"></button>
       <div class="dropdown-menu dropdown-menu-right" role="group">
    {{ if ne $.AccessEditTweet 0 }}
        <a class="dropdown-item" href="/dashboard/tweets/edit?ID={{.TweetID}}">Edit</a>
    {{ end }}
       </div>
      </div>
     </div>
    </div>
    {{ else }}
    <div class="col-6 col-md border text-center py-2">
     {{.Status}}
    </div>
    {{ end }}

    <div class="col-12 d-block d-md-none py-3">
    </div>
  </div>
{{ end }}
</div>


    <div class="row">
      <div class="col">
        {{ if eq $.DisplayPagination 1 }}
        <nav>
          <ul class="pagination justify-content-center">
            <li class="page-item"><a href="/dashboard/tweets?page=1" class="page-link">&lt;&lt;</a></li>
            <li class="page-item"><a href="/dashboard/tweets?page={{.PagePre}}" class="page-link">&lt;</a></li>
            <li class="page-item"><a href="/dashboard/tweets?page={{.Page}}" class="page-link">{{.Page}}</a></li>
            <li class="page-item"><a href="/dashboard/tweets?page={{.PageNext}}" class="page-link">&gt;</a></li>
            <li class="page-item"><a href="/dashboard/tweets?page={{.PageLast}}" class="page-link">&gt;&gt;</a></li>
          </ul>
        </nav>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
