{{ define "title" }}Unsupported Video File{{ end }}
{{ define "head" }}{{ end }}
{{ define "content" }}
<section>
<pre class="text-center">
The file uploaded is not of a supported type.

Supported Video files are:
mp4 

</pre>
</section>
{{ end }}
