{{ define "title" }}New Video{{ end }}
{{ define "head" }}{{ end }}
{{ define "content" }}
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="pl-5 pr-5">
          <form method="POST" action="/dashboard/viedo/new/post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="uploadfile">What video to upload</label>
              <input class="form-control" id="uploadfile" type="file" name="uploadfile" accept="video/*" required>
            </div>
            <div class="form-group">
              <label for="VideoName">Video Name</label>
              <input class="form-control" id="VideoName" type="text" name="VideoName" placeholder="Video Name" rows="1" cols="150" maxlength="250" required>
            </div>
            <div class="form-group">
              <label for="description">Video Description</label>
              <input class="form-control" id="description" type="text" name="description" placeholder="Video Description" rows="1" cols="150" maxlength="500">
            </div>
            <div class="form-group">
              <label for="source">Video Source</label>
              <input class="form-control" id="source" type="text" name="source" placeholder="Video Source" rows="1" cols="150" maxlength="250">
            </div>
            {{ .csrfField }}
            <button type="submit" class="btn btn-primary" value="Upload">Upload</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
